@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #674baf;
  background-image: url("../images/bg-desktop.svg");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

header {
  margin: 35px 30px;
}

header header a {
  text-decoration: none;
}

header header a img {
  width: 100px;
}

.section-class {
  padding: 80px 40px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-img img {
  width: 550px;
}

.main .main-content {
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
}

.main .main-content h1 {
  color: white;
  margin-bottom: 15px;
  font-size: 35px;
}

.main .main-content p {
  margin-bottom: 15px;
  color: white;
}

.main .main-content .main-btn {
  margin-top: 15px;
  border: none;
  padding: 15px 40px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
  cursor: pointer;
  color: #674baf;
  background-color: white;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.main .main-content .main-btn:hover {
  background-color: #e882e8;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media .social-links {
  margin: 28px;
}

.social-media .social-links a {
  text-decoration: none;
  margin-left: 10px;
}

.social-media .social-links a i {
  font-size: 15px;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 15px 15px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.social-media .social-links a i:hover {
  border: 1px solid #e882e8;
  color: #e882e8;
}

@media (max-width: 490px) {
  header a img {
    width: 150px;
  }
  .section-class {
    padding: 50px 40px;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main-img img {
    width: 300px;
  }
  .main .main-content {
    margin-left: 0px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .main .main-content h1 {
    font-size: 20px;
    margin-top: 20px;
  }
  .main .main-content p {
    margin-bottom: 15px;
  }
  .main .main-content .main-btn {
    margin-top: 25px;
    padding: 15px 80px;
  }
  .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-media .social-links {
    margin-right: 55px;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */